# vim: set encoding=utf-8
snippet pdb
	import pdb; pdb.set_trace()
snippet #enc
	# vim: set encoding=utf-8
snippet __
	__version__ = "$Revision$"
	__author__ = "${1:`g:snips_author`}"
	__license__ = "${2:May not be used without express permission from author.}"
snippet pd
	# pylint: disable={$1:W0613}
