<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <!-- List of packages -->
  <package id="7zip" />
  <package id="cloc" />
  <package id="docker-desktop" />
  <package id="fzf" />
  <package id="git" />
  <package id="gpg4win-vanilla" />
  <package id="greenshot" />
  <package id="grepwin" />
  <package id="gsudo" />
  <package id="gzip" />
  <package id="hashtab" />
  <package id="html-tidy" />
  <package id="imdisk-toolkit" />
  <package id="jq" />
  <package id="libreoffice-still" />
  <package id="mailsend" />
  <package id="naps2" />
  <package id="neovim" />
  <package id="nodejs-lts" />
  <!-- NOT REALLY NEEDED
  <package id="obs-studio" />
  -->
  <package id="pandoc" />
  <!-- needed for nvim? 
    <package id="pyenv-win" /> 
  -->
  <package id="python3" version="3.11" installArguments="/quiet InstallAllUsers=1 TargetDir=C:\Users\jlecomte\AppData\Local\Programs\Python\Python311" />
  <package id="python3" version="3.12" installArguments="/quiet InstallAllUsers=1 TargetDir=C:\Users\jlecomte\AppData\Local\Programs\Python\Python312" />
  <package id="ripgrep" />
  <package id="sysinternals" />
  <package id="tailblazer" />
  <package id="tortoisesvn" />
  <package id="tortoisegit" />
  <package id="unison" />
  <package id="universal-ctags" />
  <!--<package id="vim" packageParameters="'/NoDesktopShortcuts'" />-->
  <package id="wget" />
  <package id="winmerge" />
  <package id="xpdf-utils" />
  <!-- NOT REALLY NEEDED -->
  <!--
  <package id="etcher" />
  <package id="vlc" />
  <package id="colortool" />
  -->
  <!-- EXAMPLES -->
  <!--
  <package id="alloptions" version="0.1.1" source="https://somewhere/api/v2/" installArguments="" packageParameters="" f
orceX86="false" allowMultipleVersions="false" ignoreDependencies="false" />
  -->
</packages>
