<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <!-- List of packages -->
  <package id="7zip" />
  <package id="fzf" />
  <package id="gpg4win-vanilla" />
  <package id="greenshot" />
  <package id="grepwin" />
  <package id="gsudo" />
  <package id="gzip" />
  <package id="hashtab" />
  <package id="imdisk-toolkit" />
  <package id="libreoffice-still" />
  <package id="mailsend" />
  <package id="naps2" />
  <package id="nodejs-lts" />
  <package id="pandoc" />
  <package id="ripgrep" />
  <package id="tailblazer" />
  <package id="universal-ctags" />
  <!--<package id="vim" packageParameters="'/NoDesktopShortcuts'" />-->
  <package id="wget" />
  <package id="winmerge" />
  <package id="xpdf-utils" />
  <!-- NOT REALLY NEEDED -->
  <!--
  <package id="pyenv-win" /> 
  <package id="obs-studio" />
  <package id="cloc" />
  <package id="etcher" />
  <package id="colortool" />
  <package id="docker-desktop" />
  <package id="doxygen.install" />
  -->
  <!-- EXAMPLES -->
  <!--
  <package id="alloptions" version="0.1.1" source="https://somewhere/api/v2/" installArguments="" packageParameters="" f
orceX86="false" allowMultipleVersions="false" ignoreDependencies="false" />
  -->
</packages>
