[cd]
    command = "pwsh"

[diff]
    command = "nvim"
    args = ["-d"]

[merge]
    command = "nvim"

[data]
  is_work_device = {{ if hasPrefix "AUMON" .chezmoi.hostname }}true{{ else }}false{{ end }}
  is_mac = {{ if contains "darwin" .chezmoi.os }}true{{ else }}false{{ end }}
  is_windows = {{ if contains "windows" .chezmoi.os }}true{{ else }}false{{ end }}
  is_wsl = {{ if contains "WSL" (printf "%v" .chezmoi.kernel) }}true{{ else }}false{{ end }}
  is_linux = {{ if contains "linux" .chezmoi.os }}true{{ else }}false{{ end }}
  is_nixos = {{ if and (contains "linux" .chezmoi.os) (or (contains "nixos" (lower .chezmoi.osRelease.name)) (contains "nixos" (lower .chezmoi.osRelease.vendorName)) (eq .chezmoi.osRelease.defaultHostname "nixos") (eq .chezmoi.osRelease.id "nixos")) }}true{{ else }}false{{ end }}
